#draftPDDCompilation-tenPointtwo .tc-row .tc-cell:nth-of-type(1) {
    background-color: #8BD3DC ;
    border:1px solid #ffffff;
    text-align: start ;
  }
  
  #draftPDDCompilation-tenPointtwo .tc-row .tc-cell:nth-of-type(2) {
    background-color: #E6F5F7 ;
    border:1px solid #ffffff;
  }
  #draftPDDCompilation-tenPointtwo .tc-wrap {
    border-color: none;
  }
  #draftPDDCompilation-tenPointtwo .tc-row{
    grid-template-columns: 33% 67% ;
  }
  #draftPDDCompilation-tenPointtwo .tc-add-row,.tc-add-column{
    display: none ;
  }